/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #282828;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game {
  width: 600px;
  text-align: center;
}

#stats {
  margin-bottom: 20px;
}

.stat {
  display: block;
  margin-bottom: 5px;
}

#locationContainer {
  position: relative;
  width: 500px;
  height: 225px;
  margin: 0 auto;
}

#locationImage, #locationVideo {
  width: 100%;
  height: 100%;
  display: none; /* Hide by default */
  background-color: #000;
}

#locationImage.show, #locationVideo.show {
  display: block;
}

#controls {
  margin: 20px 0;
}

#controls button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 1rem;
}

#controls button:hover {
  background-color: #666;
}

#monsterStats {
  margin: 20px 0;
}

#text {
  font-size: 1.2rem;
}

#locationVideo {
  width: 100%;
  height: auto; /* Adjust the height as needed */
  display: none; /* Initially hidden, show when needed */
  object-fit: cover; /* Ensure the video covers the area */
}

#locationVideo::-webkit-media-controls {
  display: none !important; /* Hide controls in WebKit browsers */
}
